<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Swift Libraries</title>
  <link href="css/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <header>
    <h1>Swift Libraries</h1>
  </header>
  <hr/>
  <nav>
    <a href="/">Home</a>
    <a href="/metal">MetalKit</a>
    <a href="/scenekit">SceneKit</a>
    <a href="/spritekit">SpriteKit</a>
    <a href="/swiftui">SwiftUI</a>
  </nav>
  <br/><br/>