<%- include('partials/header.ejs') %>
  
    <h1>Planet Earth</h1>
    <img src="<%= earthUrl %>" alt="Image of Planet Earth">
    <p>
        Earth, the third planet from the Sun, is the only known planet to support life. It has one moon and a diverse climate system. About 70% of Earth's surface is covered in water. The planet's atmosphere is rich in oxygen, and it experiences phenomena like earthquakes, volcanic eruptions, and auroras.
    </p>
<%- include('partials/footer.ejs') %>
