<%- include('partials/header.ejs') %>
    <p>
        Welcome to our Solar System exploration site! Dive into the wonders of our celestial neighborhood. Discover planets, moons, asteroids, and more. From the scorching Sun to the icy edges, join us on an exciting journey through space, uncovering fascinating facts and stunning images. Let's explore the universe together!
    </p>
</body>
</html>
