<%- include('partials/header.ejs') %>

    <h1>Planet Jupiter</h1>
    <img src="/img/Jupiter.jpg" alt="Jupiter Picture" >
    <p>
        Jupiter, the largest planet in our solar system, has a Great Red Spot, a giant storm persisting for centuries. It has 79 moons, including the largest, Ganymede. Jupiter's strong magnetic field is 20,000 times stronger than Earth's, and it takes just 10 hours to complete a rotation, making it the fastest spinning planet.
    </p>

<%- include('partials/footer.ejs') %>