<%- include('partials/header.ejs') %>
  
    <h1>Planet Mars</h1>
    <img src="/img/Mars.png" alt="Mars Picture" >
    <p>
        Mars, the Red Planet, boasts the tallest volcano, Olympus Mons, and the deepest canyon, Valles Marineris, in the solar system. It has seasons, polar ice caps, and dust storms that can cover the entire planet. Mars' day is slightly over 24 hours, and it has two small moons, Phobos and Deimos.
    </p>

<%- include('partials/footer.ejs') %>
