<%- include('partials/header.ejs') %>

    <h1>Planet Neptune</h1>
    <img src="/img/Neptune.jpg" alt="Neptune Picture" >
    <p>
        Neptune, the eighth planet from the Sun, is known for its stunning deep blue color due to methane in its atmosphere. It has the strongest winds in the solar system, reaching up to 1,200 mph. Discovered in 1846, Neptune has 14 known moons, with Triton being the largest and most intriguing.
    </p>

<%- include('partials/footer.ejs') %>