<%- include('partials/header.ejs') %>

    <h1>Planet Saturn</h1>
    <img src="/img/Saturn.jpg" alt="Saturn Picture" >
    <p>
        Saturn, the sixth planet from the Sun, is renowned for its stunning ring system, composed of ice and rock particles. It's a gas giant, mostly hydrogen and helium. Saturn has 83 moons, with Titan being the largest, larger than Mercury. It also has the fastest winds, reaching 1,118 mph.
    </p>

<%- include('partials/footer.ejs') %>