<%- include('partials/header.ejs') %>

  <main>
    <iframe src="https://giphy.com/embed/l0HlPr63hAtochq4E" width="480" height="480" style="" class="giphy-embed" allowFullScreen></iframe>
    <p>
      This website will focus on the different libraries that are available in Swift. Specifically, it covers libraries that are usable for game development. I will walk through the use cases for each and what they specialize in. 
    </p>
    <br><br>
  </main>

  <footer>
    <p class="publish">Published on <time datetime="2024-06-24">June 24, 2024</time>.</p>
  </footer>


</body>

</html>