<%- include('partials/header.ejs') %>

  <main>
    <iframe src="https://giphy.com/embed/26uf6vGoThq772bOU" width="480" height="480" style="" class="giphy-embed" allowFullScreen></iframe>
    <p>
      Apple's Metal is a low-level, high-performance graphics framework designed by Apple to provide near-direct access to the GPU (Graphics Processing Unit). Introduced in 2014, <mark>Metal is used for developing sophisticated 3D graphics and compute-intensive applications on iOS, macOS, and tvOS.</mark> It enables developers to optimize rendering and computational tasks by allowing them to take full advantage of the GPU's capabilities, leading to improved performance and efficiency. Metal supports advanced graphics techniques and is commonly used in games, professional graphics applications, and other performance-critical software where maximizing the hardware's potential is crucial. The main downside to Metal in comparison to the other libraries, is that it is not as easy to use.
    </p>

    <a class="link" href="https://developer.apple.com/documentation/metal/using_metal_to_draw_a_view_s_contents">Metal Documentation</a>
    
  </main>

  <%- include('partials/footer.ejs') %>