<%- include('partials/header.ejs') %>

<main>
  <iframe src="https://giphy.com/embed/geHG6zLJWNcNW" width="480" height="480" style="" class="giphy-embed" allowFullScreen></iframe>
  <p>
    Apple's SceneKit is a high-level 3D graphics framework designed for rendering and animating 3D scenes. Introduced in 2012, <mark>SceneKit provides an easy-to-use API for creating complex 3D graphics and animations without needing deep knowledge of low-level graphics programming</mark>. It integrates with other Apple technologies, such as Metal and Core Animation, to enhance performance and visual quality. SceneKit is commonly used in developing 3D games, interactive applications, and augmented reality (AR) experiences on iOS, macOS, and tvOS, offering features like physics simulation, particle effects, and realistic lighting to bring immersive 3D content to life. The main downside to SceneKit is that the developer has less control over the graphics pipeline and in turn may find their applications difficult to optimize. 
  </p>

  <a class="link" href="https://developer.apple.com/documentation/scenekit/">SceneKit</a>
</main>

  <%- include('partials/footer.ejs') %>