<%- include('partials/header.ejs') %>

  <main>
    <iframe src="https://giphy.com/embed/ehssta24116nk9VWyN" width="480" height="480" style="" class="giphy-embed" allowFullScreen></iframe>
    <p>
      Apple's SpriteKit is a powerful 2D graphics framework designed for creating high-performance 2D games and animations. Introduced in 2013, <mark>SpriteKit provides a comprehensive set of tools for handling graphics, physics, and animation, making it easier for developers to build engaging and interactive 2D experiences</mark>. With support for sprites, textures, particle systems, and physics-based interactions, SpriteKit allows developers to create visually rich and dynamic games. It also integrates seamlessly with other Apple technologies like SceneKit for 3D elements and ARKit for augmented reality, enabling versatile and complex game development on iOS, macOS, and tvOS.
    </p>

    <a class="link" href="https://developer.apple.com/documentation/spritekit/">SpriteKit</a>
  </main>

  <%- include('partials/footer.ejs') %>