<%- include('partials/header.ejs') %>

<main>
  <iframe src="https://giphy.com/embed/mBXjNJRldj00kyK9Xa" width="480" height="480" style="" class="giphy-embed" allowFullScreen></iframe>
  <p>
    SwiftUI is a modern, declarative framework by Apple for building user interfaces across all Apple platforms, including iOS, macOS, watchOS, and tvOS. <mark>Introduced at WWDC 2019, it enables developers to design interfaces using a simple, intuitive syntax.</mark> With SwiftUI, UI components are described in a state-driven way, making it easier to manage changes and updates. It seamlessly integrates with existing UIKit, AppKit, and WatchKit code, allowing for gradual adoption. SwiftUI's live previews in Xcode enhance development efficiency, providing real-time feedback. It also supports accessibility, localization, and animation, simplifying the creation of responsive and dynamic user experiences.
  </p>

  <a class="link" href="https://developer.apple.com/documentation/swiftui/">SwiftUI</a>
</main>

<%- include('partials/footer.ejs') %>